/test-tool/node_modules
/console-toolkit/node_modules
/test-tool/.nyc_output
/generator-tool/node_modules
/.vscode
/node_modules
/.nyc_output
/component/animation/.cache
/component/animation/dist
node_modules
/source-analysis/acorn-master/acorn-loose/node_modules