<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./src/styles/index.css">
  <title>upload</title>
</head>

<body>
  <div id="root">
    <div id="file-list"> </div>
    <label id='trigger'>
      <div class='plus-icon'>
        <i aria-label='图标: plus' class='anticon anticon-plus'>
          <svg viewBox='64 64 896 896' data-icon='plus' width='1em' height='1em' fill='currentColor' aria-hidden='true'
            focusable='false' class=''>
            <path d='M482 152h60q8 0 8 8v704q0 8-8 8h-60q-8 0-8-8V160q0-8 8-8z'></path>
            <path d='M176 474h672q8 0 8 8v60q0 8-8 8H176q-8 0-8-8v-60q0-8 8-8z'></path>
          </svg>
        </i>
      </div>
      <input type='file' accept='image/*' id='trigger-input' />
    </label>
  </div>
  <script src="./src/index.js" type="module"></script>
</body>

</html>