<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./index.css">
  <title>uploader</title>
</head>

<body>
  <div id="w-uploader">
    <label id="w-uploader-trigger">
      <div class="uploader-process">
        <div class="process-text">上传中...</div>
        <div class="process-bar"></div>
      </div>
      <input type="file" accept="image/*" id="trigger-input">
    </label>
  </div>
  <script src="./index.js"></script>
  <script>
    const action = `http://client2.365hy.com/niumore123456/upload`
    const _ = sel => document.querySelector(sel)
    const xhr = createXhr()
    const $uploader = {
      trigger: _('#w-uploader-trigger'),
      input: _('#trigger-input'),
      processBar: _('.process-bar')
    }
    $uploader.input.addEventListener('change', e => {
      const file = e.target.files[0]
      const formData = new FormData
      formData.append('file', file)
      xhr.send(formData)
    })

    function createXhr() {
      const xhr = new XMLHttpRequest
      xhr.upload.addEventListener('progress', e => {
        if (e.lengthComputable) {
          const percent = e.loaded / e.total * 100
          if (percent >= 20) {
            $uploader.processBar.classList.add('p-2')
          } else if (percent > 20 && percent <= 40) {
            $uploader.processBar.classList.add('p-4')
          }
          else if (percent > 40 && percent <= 60) {
            $uploader.processBar.classList.add('p-6')
          }
          else if (percent > 60 && percent <= 80) {
            $uploader.processBar.classList.add('p-8')
          }
          else if (percent === 100) {
            $uploader.processBar.classList.add('p-10')
          }
        }
      })
      xhr.onload = e => {
        $uploader.processBar.classList.add('p-10')
        console.log('完成了');
      }
      xhr.open('POST', action)
      return xhr
    }
  </script>
</body>

</html>