<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./index.css">
  <title>uploader</title>
</head>

<body>
  <div id="w-uploader">
    <div id="file-list-wrapper"></div>
    <label id="w-uploader-trigger">
      <div class="add-file-icon">
        <i aria-label="图标: plus" class="anticon anticon-plus">
          <svg viewBox="64 64 896 896" data-icon="plus" width="1em" height="1em" fill="currentColor" aria-hidden="true"
            focusable="false" class="">
            <path d="M482 152h60q8 0 8 8v704q0 8-8 8h-60q-8 0-8-8V160q0-8 8-8z"></path>
            <path d="M176 474h672q8 0 8 8v60q0 8-8 8H176q-8 0-8-8v-60q0-8 8-8z"></path>
          </svg>
        </i>
      </div>
      <div class="uploader-process">
        <div class="process-text">上传中...</div>
        <div class="process-bar"></div>
      </div>
      <input type="file" accept="image/*" id="trigger-input">
    </label>
  </div>
  <script type="module">
    import createPreview from './preview.js'
    import UploadXHR from './xhr.js'
    const action = `http://client2.365hy.com/niumore123456/upload`
    const _ = sel => document.querySelector(sel)
    const $uploader = {
      trigger: _('#w-uploader-trigger'),
      input: _('#trigger-input'),
      process: _('.uploader-process'),
      processBar: _('.process-bar'),
      fileListWrapper: _('#file-list-wrapper')
    }

    const imgItem = `
      <div class="img-item" style="width:200px;height:200px;">
        <img src="__preview__" style="width:100%;height:100%;object-fit:contain;" >  
      <div>
    `

    const xhr = new UploadXHR({
      onLoad(e) {
        $uploader.processBar.classList.add('p-10')
        setTimeout(() => {
          $uploader.process.style.display = 'none'
        }, 300);
        const res = JSON.parse(e.target.response)
        const img = imgItem.replace('__preview__', preview)
        $uploader.fileListWrapper.innerHTML = img
      },
      onProcess(e) {
        if (e.lengthComputable) {
          const percent = e.loaded / e.total * 100
          if (percent >= 20) {
            $uploader.processBar.classList.add('p-2')
          } else if (percent > 20 && percent <= 40) {
            $uploader.processBar.classList.add('p-4')
          }
          else if (percent > 40 && percent <= 60) {
            $uploader.processBar.classList.add('p-6')
          }
          else if (percent > 60 && percent <= 80) {
            $uploader.processBar.classList.add('p-8')
          }
          else if (percent === 100) {
            $uploader.processBar.classList.add('p-10')
          }
        }
      }
    })
    let preview = null

    $uploader.input.addEventListener('change', async e => {
      const file = e.target.files[0]
      preview = await createPreview(file)
      const formData = new FormData
      formData.append('file', file)
      xhr.send(formData)
    })

  </script>
</body>

</html>