#trigger {
	display: inline-flex;
	border: 1px solid;
	width: 128px;
	height: 128px;
	background-color: #fafafa;
	border: 1px dashed #d9d9d9;
	text-align: center;
	border-radius: 4px;
	cursor: pointer;
	transition: border-color 0.3s ease;
	justify-content: center;
	align-items: center;
}
#trigger:hover {
	border-color: #1890ff;
}

#trigger > input {
	display: none;
}

.plus-icon {
	font-size: 32px;
	color: #999;
	line-height: 0;
}

.process-bar {
	margin: auto;
	width: 80%;
}
.process-bar-animation {
	height: 2px;
	background-color: #000;
	position: relative;
}
.process-bar-animation.p-2::after {
	width: 20%;
}
.process-bar-animation.p-4::after {
	width: 40%;
}
.process-bar-animation.p-6::after {
	width: 60%;
}
.process-bar-animation.p-8::after {
	width: 80%;
}
.process-bar-animation.p-10::after {
	width: 100%;
}
.process-bar-animation::after {
	content: '';
	position: absolute;
	height: 2px;
	background-color: red;
	top: 0;
	left: 0;
	transition: all 0.1s ease;
}
.hide {
	display: none;
}
