#root {
	display: flex;
}
#trigger {
	display: inline-flex;
	border: 1px solid;
	width: 128px;
	height: 128px;
	background-color: #fafafa;
	border: 1px dashed #d9d9d9;
	text-align: center;
	border-radius: 4px;
	cursor: pointer;
	transition: border-color 0.3s ease;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
}
#trigger:hover {
	border-color: #1890ff;
}
#trigger > input {
	display: none;
}
#file-list {
	display: flex;
}
.file-item {
	width: 128px;
	height: 128px;
	padding: 8px;
	border: 1px solid #d9d9d9;
	border-radius: 4px;
	box-sizing: border-box;
	margin-right: 8px;
	position: relative;
}
.file-item > img {
	height: 100%;
	width: 100%;
	object-fit: contain;
}

.plus-icon {
	font-size: 32px;
	color: #999;
	line-height: 0;
}

.process-bar {
	margin: auto;
	width: 80%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.process-text {
	margin: 8px;
}
.process-bar-animation {
	height: 2px;
	background-color: #000;
	position: relative;
}
.process-bar-animation.p-2::after {
	width: 20%;
}
.process-bar-animation.p-4::after {
	width: 40%;
}
.process-bar-animation.p-6::after {
	width: 60%;
}
.process-bar-animation.p-8::after {
	width: 80%;
}
.process-bar-animation.p-10::after {
	width: 100%;
}
.process-bar-animation::after {
	content: '';
	position: absolute;
	height: 2px;
	background-color: red;
	top: 0;
	left: 0;
	width: 0%;
	transition: all 1s ease;
}
.hide {
	display: none;
}
